<html>
  <title>BreakUpMatch</title>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap">
  </head>
  <body>

<section id="top">
</section>
<div class="container">
  <h1>Welcome to BreakUpMatch.com</h1>
  <h1>Connecting Broken Hearts</h1>

  <div class="navbar">
    <img src="logo.webp" class="logo">
    <nav>
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">REGION</a></li>
        <li><a href="">ABOUT</a></li>
      </ul>
    </nav>
    <img src="menu.webp" class="menu-icon">
  </div>
  <section id="login">
    <form>
      <div class="login-fields">
      <input type="email" name="email" placeholder="E-mail">
      <input type="password" name="pass" placeholder="Password">
      <button type="button">Login</button>
    </div>
      <div id="remember-container">
        <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/>
        <span id="remember">Remember me</span>
        <div id="forgotten">
          <button class="forgotten">Forgot Password</button>
<div>

</div>
</form>



</section>





  </body>
</html>